[2021-04-12 18:48] phact opened #4 "Unexpected results when adding and removing keyspaces"
Hi there,

Please provide the following details with your issue report.

### Terraform Version
latest

### Affected Resource(s)
Please list the resources as a list, for example:
- astra_database
- astra_keyspace

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files

First I applied this config:

[co

[2021-04-12 21:40] phact opened #6 "Cleanly deal with classic tier fields (maybe ignore them altogether)"
We should either hide the replication_factor or always show 3
definitely hide total_storage since there's no actual limit here
hide node_count as well for serverless

[code]

[2021-04-12 21:42] phact commented on #6
To hide fields could we just remove them from here?

https://github.com/phact/terraform-provider-astra/blob/0d4f8f1059117deea01fcb194d39ffc1bec2675c/internal/provider/resource_database.go#L326

[2021-04-13 00:05] joeandaverde commented on #6
Yeah, the location you specified as well as the resource/data_source schema.

[2021-04-13 00:06] joeandaverde commented on #4
Ah, just need to set the id to empty in delete. Though, we don't technically support deleting namespaces in the API. Not sure what's best.

[2021-04-13 01:25] phact commented on #6
https://github.com/datastax/terraform-provider-astra/pull/8

[2021-04-13 01:25] #6 closed

[2021-04-13 02:46] phact opened #9 "Configure releases"

[2021-04-13 02:46] phact commented on #9
Done

[2021-04-13 02:46] #9 closed

[2021-05-10 15:42] ramielrowe opened #19 "Failing to create new database due to unavailable region combination"
Error: Error: cloud provider and region combination not available: GCP/us-east1

If I manually curl `https://api.astra.datastax.com/v2/availableRegions` with my token, I don't see any `serverless` tiers listed. But, if I go to the web console, I can create databases in GCP/us-east1.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terrafor

[2021-05-10 19:44] phact commented on #19
There are restrictions but they are accurately reflected in `availableRegions`

[code]

If you're not seeing serverless available when you hit the endpoint you may be using a classic only Astra organization. You can go in the Astra UI and create a new org and select `on demand`.

[2021-05-10 19:53] ramielrowe commented on #19
Hi,

The organization I'm using was created automatically via the GCP marketplace. I don't think we have any control over it. I can create serverless databases via the web UI. It just doesn't work for terraform/API.

[2021-05-17 20:18] FRosner opened #22 "Application token resource"
When connecting to the database using the document API, you need to provide an application token. Since application tokens can be managed using the [DevOps API](https://docs.datastax.com/en/astra/docs/db-devops-tokens.html) it should be possible to manage them as a Terraform resource as well.

The advantage is that they can be created automatically and passed to the application or a secrets store,

[2021-05-18 18:25] phact commented on #19
I see, there are two GCP marketplace offerings. You may be using the old one.
![image](https://user-images.githubusercontent.com/1313220/118704127-cb874b00-b7e4-11eb-949d-57232b7b9a4f.png)
Please make sure you pick the orange one, not the black one. We've been working with google to remove the old one but it is taking a long time. Apologies for this.

[2021-05-18 18:37] ramielrowe commented on #19
![image](https://user-images.githubusercontent.com/1068858/118705682-83692800-b7e6-11eb-94a9-2c3d914cddf4.png)
We used the orange one.

[2021-06-17 15:39] vigohe commented on #19
any comments? We also have the same issue with azure, no serverless tiers, we selected the orange one

[2021-06-17 19:50] harishdesetti1206 opened #24 "astra_data_source_available_regions lists only classic DB regions"
Hi there,

Please provide the following details with your issue report.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

### Affected Resource(s)
Please list the resources as a list, for example:
- astra_database
- astra_keyspace

If this issue appears to affect mul

[2021-08-12 05:12] phact commented on #22
We need this functionality in devops api in order to expose in the provider.

[2021-08-12 07:26] FRosner commented on #22
Isn't it supported? I was looking at https://docs.datastax.com/en/astra/docs/db-devops-tokens.html but I haven't tried it.

[2021-08-24 18:21] theharrisonchow opened #28 "Unable to Create astra_role due to unknown error"
Hi there,

Please provide the following details with your issue report.

### Terraform Version
[code]

### Affected Resource(s)
- astra_role

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Role should be created

### Actual Behavior
Unknown Error

### Important Factoids
POST request based on the following guide works: https://docs.datastax.com/en/astra/doc

[2021-09-01 02:53] phact commented on #22
This is done

[2021-09-01 02:53] #22 closed

[2021-09-01 03:19] phact commented on #24
Should be fixed in v1.0.4+

[2021-09-01 03:20] phact commented on #19
Should be fixed in v1.0.4+

[2021-09-01 14:14] harishdesetti1206 commented on #19
Great @phact the issue is fixed.. i used the version 1.0.6 and it worked like charm .. Thanks .!

[2021-09-01 14:16] harishdesetti1206 commented on #24
Great @phact the issue is fixed.. i used the version 1.0.6 and it worked like charm .. Thanks .!

[2021-09-01 14:17] #24 closed

[2021-09-02 16:19] Naveen-Kumar-G opened #30 "Unable to create datastax/astra database due to 'plugin did not respond'"
Hi there,

Unable to create datastax/astra database due to 'plugin did not respond'.

### Terraform Version: Terraform v1.0.3

### Affected Resource(s)
- astra_database
- astra_keyspace
- astra_roles
- astra_tokens

### Expected Behavior
datastax/astra provider should be able to connect to my astra db and acquire the state

### Actual Behavior
Plugin did not respond

[code]

### Steps to Reproduce

[2021-09-03 15:13] phact commented on #30
Can you share your resources.tf and data-source.tf if you have one?

[2021-09-03 15:13] #19 closed

[2021-09-03 15:14] phact commented on #28
Thanks for the report!

There are a few places in the provider right now where we're swallowing exceptions like this. We'll fix it, stay tuned.

[2021-09-07 18:45] Naveen-Kumar-G commented on #30
We have identified the root cause of the issue, it's causing due to Firewall communication to API, now added IP's to route table and the pipeline is running successfully without any issue

Failed at file: https://github.com/datastax/terraform-provider-astra/blob/main/internal/provider/provider.go
below section (line 83)

[code]

log screenshot:
![POST request](https://user-images.githubusercontent

[2021-09-07 18:45] #30 closed

[2021-09-07 21:12] phact commented on #4
v1.0.7 has more robust keyspace creation handling

[2021-09-07 21:12] #4 closed

[2021-09-16 01:56] phact commented on #28
Just pushed v1.0.8 with the fix for this bug

[2021-09-20 14:32] AndreyNovik1993 opened #32 "Can't run terraform apply after creating astra_private_link_endpoint.astra_vpc_endpoint"
Hi there,

After creating astra_private_link_endpoint.astra_vpc_endpoint, I can't run "terraform run" again, or "terraform destroy" too.

### Terraform Version
terraform - 1.0.7

### Affected Resource(s)
astra_private_link_endpoint.astra_vpc_endpoint

### Terraform Configuration Files
terraform {
  required_providers {
    astra = {
      source = "datastax/astra"
      version = ">= 1.0.7"
    }

[2021-09-21 14:06] ivnovi commented on #28
In my case I had same error but finally figured that it was due to missing permissions. API Admin wasn't enough to manage roles. But message is similarly non-descriptive in newer 1.0.8 and 1.0.9 versions and probably should be improved.

[2021-09-21 14:48] ivnovi opened #33 "Existing token does not get deleted by terraform when removed or changed"
### Terraform Version
v1.0.7

### Affected Resource
* astra_token

### Terraform Configuration Files
[code]

### Expected Behavior
When removed or changed existing token should be removed

### Actual Behavior
Existing token remains visible in Astra web console when removed from code.
When token changed in code new one gets created without deleting the old one, so after change you have two instead

[2021-09-22 21:21] phact commented on #28
@ivnovi could you open a fresh ticket for that?
This particular issue turned out to be a bug in the provider, not a swallowed exception like I first thought.

[2021-09-22 21:21] #28 closed

[2021-09-25 08:37] navjyotnishant opened #35 "How to Deploy a Database in Multiple region"
Hi There,

Please provide the following details with your issue report.

### Terraform Version
Terraform v1.0.7
on linux_amd64
+ provider registry.terraform.io/datastax/astra v1.0.9

### Affected Resource(s)
Please list the resources as a list, for example:

* astra_database

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

###

[2021-09-25 08:48] navjyotnishant opened #36 "How to Deploy a User in Astra?"
Hi There,

Please provide the following details with your issue report.

### Terraform Version
Terraform v1.0.7
on linux_amd64

* provider registry.terraform.io/datastax/astra v1.0.9

### Affected Resource(s)
Please list the resources as a list, for example:

* NA
*
* Resource doesn't exists.

If this issue appears to affect multiple resources, it may be an issue with Terraforms core, so please me

[2021-09-28 13:53] AndreyNovik1993 commented on #32
Hi, Do you have some updates about this case?

[2021-10-07 13:42] emerkle826 commented on #32
@AndreyNovik1993 I'm trying to pick up this issue now. I'm hoping to make some progress in the next 24 hours.

[2021-10-11 13:09] jdonenine opened #38 "Update documentation related to private link availability for GCP"
The terraform [documentation](https://registry.terraform.io/providers/datastax/astra/latest/docs/resources/private_link) currently notes that

This is no longer true and should be updated to reflect the current availability of private link.

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/TERRA-36) by [Unito](https://www.unito.io)

[2021-10-21 11:11] useownyxis opened #40 "Cannot attach default role to token generated by Terraform"
Hi,
I tried to use default roles with token generated by Terraform. As I see in terraform documentation, I may do that. ("Custom roles can be assigned to an Astra user is to grant them granular permissions when the default roles in the UI are not specific enough.").
https://registry.terraform.io/providers/datastax/astra/latest/docs/resources/role
But nothing happens when I applied it. In UI I see

[2021-10-22 18:12] jdonenine opened #42 "Tests should not rely on hard-coded resource identifiers"
Currently a number of our tests rely on hard-coded resource IDs, either within Astra or another provider.  These should be removed in favor of automatically generated resources that are created at startup and cleaned up at test completion.  Any unique content, such as user account information for the cloud providers should be extracted to secrets that can be provided via environment variables.

Th

[2021-10-29 18:16] jdonenine commented on #33
### Notes
* We need to do a bit of investigation into the desired behavior from the terraform perspective.  Is applying a plan that implies a destruction of an internal resource forcing a destroy? Should it?
* It looks like the destroy/delete function exists within the provider, but it may not be trigger for some reason, or is failing when it is triggered

[2021-10-29 18:22] jdonenine commented on #40
### Notes

* Confirmed that when building a token through the UI the default "Administrator User" role does populate the table with the "Admin Role" name as described being expected

![image](https://user-images.githubusercontent.com/7901615/139483738-b4245b56-09c3-4479-8ebe-bf3ebc060777.png)

* We need to test what happens when doing this via Terraform

[2021-10-29 18:23] jdonenine commented on #38
### Notes

* We need to look into how the docs are actually published, is it automatic every time a published release goes to the terraform registry?
* We can pretty easily bundle this up with the fixes from some other issues and pick this up whenever is convenient.

[2021-10-29 18:29] jdonenine commented on #36
### Notes

* We currently do not have a function to create an invite for a user as is described in the issue
* We need to think about if there is a good reason this doesn't exist
* Inviting a user is available in Astra as is a function to revoke the users invitation
* But this is an invitation, not the direct creation of a user so to speak
* What would it mean if the user invitation was removed fr

[2021-10-29 18:35] jdonenine commented on #35
### Notes

* Within the devops API the /v2/databases endpoint https://docs.datastax.com/en/astra/docs/_attachments/devopsv2.html#operation/createDatabase regions is a string, not an object or an array where mulitple could be added
* we need to confirm the current state of that endpoint and if there is an endpoint (either newer version or whatever) that supports multiple regions

[2021-10-29 19:11] jdonenine commented on #42
@emerkle826 is going to think through some of the enhancements we'd need/like to see in the testing framework as a whole to make supporting changes to the test like this more manageable.  When that design is completed we'll revisit what to explicitly do with this issue here.  It may get expanded and split out into more specific issues or consumed by other issues.

[2021-10-29 19:32] jdonenine commented on #38
Now seeing the way that the docs are inline with the code, it seems apparent that we will need to do a release to update the documentation.

The plan to bundle this up with the next bug fix makes sense I think.

[2021-10-29 21:16] #38 closed

[2021-11-02 17:35] emerkle826 commented on #40
The issue is with the configuration file. You are specifying `"Administrator User"` as the value for `role`, but it needs to be the `id`, not the name of the role. Find the ID for the role(s) you want to use and use the ID(s):
[code]

[2021-11-02 17:35] #40 closed

[2021-11-02 18:54] #33 closed

[2021-11-02 18:57] emerkle826 commented on #33
@ivnovi This should be fixed in version 1.0.11, which should be available [here](https://github.com/datastax/terraform-provider-astra/releases/tag/v1.0.11) shortly.

[2021-11-04 19:28] ivnovi commented on #33
@emerkle826 looks good, thank you!

[2021-11-08 23:02] jeffbanks commented on #42
@jdonenine and @emerkle826 do we have any thoughts around breaking this out into sub-tickets?  I have a few starters that might get the ball rolling for our tests based on some recent research of TF.

* Setup and teardown capabilities for Astra instances in integration and e2e tests
* Handling of Astra sensitive test inputs & decoupling of test inputs
* Ensure unit and integration test separation

[2021-11-08 23:06] jdonenine commented on #42
That's a great idea @jeffbanks what we had here before was more placeholder than anything.

[2021-11-09 16:53] navjyotnishant commented on #35
@jdonenine

Would Love to contribute if that can speedup the new feature implementation. Let me know how I can help!

[2021-11-09 18:51] jdonenine commented on #35
Ah, thanks for the link @navjyotnishant, we hadn't yet really looked into it too much, and this it looks like is the answer we needed.

Generally speaking, we'd love to collaborate on the enhancement if you're interested!  Perhaps all of us (@emerkle826 @jeffbanks ) could discuss a proposal for how to represent this within the terraform side of things?

If you have a proposal @navjyotnishant that

[2021-11-09 19:47] emerkle826 commented on #35
I haven't dug into this one much yet, so feel free to put something together. Will be glad to help push it along.

[2021-11-15 14:37] jdonenine commented on #35
@navjyotnishant we've shifted around some priorities and we're going to start looking at this multi-region support this week, but if you've already put any thought into the structure of the resources to be used please feel free to share them with @emerkle826 as he gets going on things here.

[2021-11-17 16:40] jdavies opened #46 "TERRA-40 ⁃ Roles and tokens will not authenticate"
Hi there,

When I create a custom role and a token for that role, I get an error message via Swagger then I try to connect:

[code]

### Terraform Version
jeffdavies@jdavies-rmbp16 ~ % terraform -v

Terraform v1.0.11
on darwin_amd64

### Affected Resource(s)
I am creating an Astra DB named "insurance" with a keyspace named "insurance"

### Terraform Configuration Files
This is my main.tf file. I d

[2021-11-18 17:23] emerkle826 commented on #46
@jdavies I think the issue is with the resources allocated to your custom role. You seem to have the correct policies applied. Could you try changing this section
[code]
to this:
[code]

[2021-11-18 17:53] jdavies commented on #46
I added the line with the "insurance:table:*" as suggested and that did the trick! It is now working properly, thank you for your help.

[2021-11-18 17:53] #46 closed

[2021-11-18 18:07] jdavies opened #47 "TERRA-41 ⁃ Terrafrom destroy throws error for access lists"
Hi all,
    I'm getting an error when I try to destroy a DB with an access list defined. I can verify that the access list IS created properly, but when I perform a ```terraform destroy``` operation I get the following error message:

[code]

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:

* astra_database
* astra_keyspace

If this issue ap

[2021-11-18 18:11] jdavies commented on #47
One other quick note: while the access list is created successfully, it is not enabled by default. I have to go into the Astra web UI, click on the Settings tab for the database, and turn on / enable the access list feature before the access list is displayed in the web UI.

[2021-11-18 19:45] edmeister commented on #47
I notice the same issue with every subsequent `terraform apply` operation after adding the `astra_access_list` resource to my test code.

[2021-11-18 19:54] edmeister opened #48 "TERRA-42 ⁃ Enable "Restrict Public Access" through Terraform"
Hi, we recently signed up for Astra Serverless and are trying to manage as much as possible with Terraform. We are wondering if it's already possible to enable the "Restrict Public Access" setting. Thanks in advance!

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/TERRA-42) by [Unito](https://www.unito.io)
┆friendlyId: TERRA-42
┆priority: Major

[2021-11-18 20:01] emerkle826 commented on #47
So the issue here seems to be that Astra returns an access list with a last updated time in the format of
[code]
However, the terraform plugin expects the time in [RFC3339 format](https://tools.ietf.org/html/rfc3339#section-5.6):
[code]
This doesn't affect adding access lists, but when terraform goes to delete them, it fails on the list parsing when it gets to this field of the returned list, so t

[2021-11-18 20:10] emerkle826 commented on #48
It's not currently possible and would need to be added to the plugin.

[2021-11-18 20:33] edmeister commented on #48
Thanks for your reply.

It seems like this action is not exposed through the API, so it might be tough to implement.

[2021-11-18 22:34] emerkle826 commented on #47
This will be fixed under issue #48 as enabling the feature is not currently supported via terraform.

[2021-11-18 22:36] emerkle826 commented on #48
I think we could do it through this endpoint:
https://docs.datastax.com/en/astra/docs/_attachments/devopsv2.html#operation/UpdateAccessListForDatabase
It seems to be the `configurations` section that needs to be enabled and I think this would do it.

[2021-11-19 16:58] #47 closed

[2021-11-19 17:39] theharrisonchow opened #50 "TERRA-43 ⁃ Changes to Astra Roles Shouldn't Force Replace Resource"
Hi there,

Please provide the following details with your issue report.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- astra_role

If this issue appears to affect multiple resourc

[2021-11-19 18:13] emerkle826 commented on #47
@jdavies The fixes have been merged. Version 1.0.12 should be released in a few minutes and will have the fix for this.

[2021-11-19 20:28] edmeister commented on #47
Awesome. Thanks for the quick fix!

[2021-11-19 20:40] edmeister commented on #48
Do you take pull requests? I can probably have a look this weekend and blow some dust off my Golang skills.

[2021-11-22 16:48] jdavies opened #52 "TERRA-44 ⁃ Not all database attributes are available"
Hi all,
   When I create a database, I output some of the database attributes at the end. I'm using the attributes listed on the database resource page. Many of the attributes print just fine, but the following output statements produce no output at all avd no error messages:

[code]

### Terraform Version
jeffdavies@jdavies-rmbp16 hello_astra_tf % terraform -v
Terraform v1.0.11
on darwin_amd64

#

[2021-11-22 16:49] jdavies commented on #52
[test.zip](https://github.com/datastax/terraform-provider-astra/files/7582885/test.zip)

[2021-11-23 09:56] edmeister opened #53 "TERRA-45 ⁃ astra_access_list only creates the first address"
### Terraform Version
Terraform core: `1.0.11`
Astra provider: `1.0.12`

### Affected Resource(s)
Please list the resources as a list, for example:

* astra_access_list

### Terraform Configuration Files
[code]

### Expected Behavior
The database should have an access list with 3 records.

### Actual Behavior
The terraform plan shows the resource as it is intended:

[code]

Only the first address

[2021-11-23 13:52] emerkle826 commented on #53
Thanks for reporting this. I see the issue and should be able to resolve this shortly

[2021-11-23 13:59] jdonenine commented on #48
Hey @edmeister we definitely do, so if you'd be interested in working on it that would be awesome.  Before we could accept the contribution we'd just need you to sign our CLA, other than that we'd just work through reviewing the changes together here as usual.

I know @emerkle826 has taken an initial look at things here and we talked a bit yesterday about how to best handle this in different creat

[2021-11-23 14:47] edmeister commented on #48
Hi @jdonenine, thanks for your reply. Happy to help out here, so I'll try to find your CLA.

From what I checked last weekend:
- Initial create should unfortunately require two calls (POST for the list + PATCH for the `accessListEnabled` configuration)
- Updates can use the PUT (why would you prefer not to touch the access list if only `accessListEnabled` has changed?)

[2021-11-23 14:57] jdonenine commented on #48
I suppose I could have actually included the link 😄 https://cla.datastax.com/

That jives with what @emerkle826 and I talked through yesterday.

My concern would be related to what happens if a change is made to the set of access lists outside the scope of Terraform.  If terraform then reapplies it's entire state of access lists each time for the sake of updating the configuration flag, are we sto

[2021-11-23 17:16] emerkle826 commented on #48
This should work fine from a Terraform perspective, at least for Adds and Deletes. The code in the plugin will bundle the 2 Astra operations, so it will appear to be an atomic operation on the Terraform side.

This gets tricky, and is about where I stopped digging. The implementation will dictate if Terraform decides to perform the update by deleting and re-adding the resource, or just updating th

[2021-11-23 19:40] emerkle826 commented on #48
Upon further digging, "updates" aren't something this plugin seems to support for any resources currently. It's either ADD, DELETE or READ, where the only "updating" happens by deleting a resource and then re-adding it. So for now, this may be as simple as changing the ADD function to issue the PATCH to update the `accessListEnabled`

[2021-11-23 20:52] edmeister commented on #48
In most of the providers I'm frequently using (if not all), I notice Terraform would show a warning during the `plan` (something like "Resources have been changed outside of Terraform"), if there is a mismatch between the tfstate and reality. The `apply` would override the actual configuration based on what is configured in Terraform. If people decide to use Terraform to manage their Astra instanc

[2021-11-23 22:13] #53 closed

[2021-11-23 22:14] emerkle826 commented on #53
Should be resolved in v1.0.13, which will be available shortly.

[2021-11-24 15:18] edmeister commented on #53
Works! Thanks, @emerkle826

[2021-11-30 12:29] kartikrjagtap opened #55 "TERRA-46 ⁃ Incomplete resource provisioning on Astra"
Hi there,

Please provide the following details with your issue report.

**### Terraform Version**
Terraform v1.0.8
on linux_amd64

* provider registry.terraform.io/datastax/astra v1.0.10

### Affected Resource(s)
Please list the resources as a list, for example:

* astra_keyspace

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

[2021-12-07 11:23] edmeister opened #57 "TERRA-47 ⁃ Terraform plan fails for previously created database"
Hi there,

Please provide the following details with your issue report.

### Terraform Version
Latest
Plugin 1.0.13

### Affected Resource(s)
Please list the resources as a list, for example:

* astra_database

### Actual Behavior
During a terraform plan of an environment that previously had a database created, we now encounter the following error:

[code]

Any idea what might be going wrong? I wi

[2021-12-07 11:34] #57 closed

[2021-12-07 11:36] edmeister commented on #57
The token wasn't added to the environment variables. Very stupid.

[2021-12-07 13:42] emerkle826 commented on #57
I was going to suggest that your token was missing or maybe a typo when supplying it. Glad you got it fixed.

[2021-12-08 22:23] emerkle826 commented on #52
Sorry it took a bit to get around to this. I see the problem and it should be an easy fix. The 3 fields you mention are skipped in the [flattenDatabase](https://github.com/datastax/terraform-provider-astra/blob/main/internal/provider/resource_database.go#L355-L378) function that maps the Astra database response to a terraform resource struct. Should be as simple as adding the correct mapping for t

[2021-12-09 19:50] #52 closed

[2021-12-10 00:23] #35 closed

[2021-12-10 00:23] #55 closed

[2021-12-23 11:59] ivnovi commented on #36
I suppose this should be pretty straight-forward, user either exists in org and has provided role or not, depending whether it exists in plan. Similar as tokens, even if users are not really created, main thing whether they have access within current org or not.

I also noticed that when you update role permissions it gets recreated and any use had this role has to be manually added again, which i

[2021-12-23 17:01] emerkle826 opened #67 "TERRA-48 ⁃ Keyspace names should be case sensitive"
Hi there,

Please provide the following details with your issue report.

### Terraform Version
Terraform v1.1.2
on linux_amd64

### Affected Resource(s)
astra_keyspace

### Terraform Configuration Files
[code]

### Debug Output
N/A

### Panic Output
N/A

### Expected Behavior
After a `terraform plan` and `terraform apply` the Database and second Keyspace should be created. If a `terraform plan` is

[2021-12-23 17:26] #67 closed

[2022-01-20 15:59] TAMBQL opened #71 "TERRA-49 ⁃ Improve Documentation"
Hi

This sentence is confusing

[code]

In the exampel it looks like it is the name of the role but it is the ID can you add this to the Docu?

and maybe add second exampel

Something like

[code]

https://registry.terraform.io/providers/datastax/astra/latest/docs/resources/token

Thank you

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/TERRA-49) by [Unito]

[2022-01-21 09:50] michelderu opened #72 "TERRA-50 ⁃ Improve error message while providing a wrong value"
Hi there,

Please provide the following details with your issue report.

### Terraform Version
1.1.4

### Affected Resource(s)
* astra_role

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
I should have received an error saying that the `resources` value is incorrect (missing drn:astra:org:).

### Actual Behavior
I received a non descriptive error putting m

[2022-01-26 12:09] hugolhafner opened #73 "TERRA-51 ⁃ GCP Private Link generates invalid ID"
### Terraform Version
Terraform v1.1.2

### Affected Resource(s)
* astra_private_link

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/hugolhafner/7c3ac94228233dc8206a7cc7f1f1e75c

### Expected Behavior
Successfully refreshes resource

### Actual Behavior
Fails to refresh the resource with an invalid ID error

### Steps to Reproduce
Please list the steps required

[2022-01-31 15:36] #71 closed

[2022-01-31 15:36] #72 closed

[2022-01-31 15:36] #73 closed

[2022-02-03 12:15] ndemeshchenko opened #77 "TERRA-52 ⁃ astra_role failure json: cannot unmarshal string into Go value of type astra.Errors"
Hi there,

here is the error while creating role

[code]

### Terraform Version
Terraform v1.1.4
on linux_amd64
+ provider registry.terraform.io/datastax/astra v2.0.1

### Affected Resource(s)
- astra_role

### Terraform Configuration Files
[code]

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:
1. `terraform apply`

[2022-02-03 15:24] emerkle826 commented on #77
@ndemeshchenko Can you try upgrading to version 2.0.3 of the terraform plugin? It has some improvements around this unmarshal error. It probably won't fix your issue, but it may give a little better indication of what is wrong.

[2022-02-08 18:31] tringuyen-yw opened #79 "TERRA-53 ⁃ Documentation: astra_database, needs more details on required attributes"
### Terraform Version
Terraform v1.1.5
on linux_amd64

### Affected Resource(s)
- astra_database

The official TF doc: https://registry.terraform.io/providers/datastax/astra/latest/docs/resources/database needs more guidance on the description and usage of the required attributes. Example:

- `cloud_provider`: what are the list of valid values?
- `keyspace`: Why does this DB needs that exact keysp

[2022-02-08 18:50] tringuyen-yw opened #80 "TERRA-54 ⁃ Documentation: astra_role, what is the format of a DRN resource string and policy?"
### Terraform Version
Terraform v1.1.5
on linux_amd64

### Affected Resource(s)
- astra_role

The official Terraform doc: https://registry.terraform.io/providers/datastax/astra/latest/docs/resources/role gives a succint example of two attributes

[code]

The documentation needs more details on:

- Describe the format of a DRN resource string. Give a couple of example of the possible variations of

[2022-02-08 20:08] emerkle826 commented on #79
I won't close this issue until I am able to update the docs to reflect these clarification, but I wanted to at least reply with some quick answers to your questions for now:

The supported cloud providers are `aws`, `gcp` and `azure`

When creating an Astra Database, you must create an initial keyspace. The keyspace name can be any valid Astra Database keysapce name (see https://docs.datastax.com/

[2022-02-08 20:15] emerkle826 commented on #80
Same as #79, I will wait to close this once the docs have been updated, but to answer your questions:

The format is `"drn:astra:org:<organization UUID>"` where `organization UUID` is the UUID of the Astra organization you want to create your database in. The example in the docs doesn't really have any variation other than the UUID of the org. The `drn:astra:org:` part, for now, is required and do

[2022-02-08 21:05] tringuyen-yw commented on #80
Could the DRN resource be more granular than that? For example, userA can only read a single table named `myKeyspace.myTable1`.

[2022-02-08 21:12] tringuyen-yw commented on #79
Thanks @emerkle826 for the detailed answer. Can you please make sure the Terraform documentation pages contains the links to https://docs.datastax.com/ relevant to the attribute of the resource? Like in the above answer.

[2022-02-08 21:14] emerkle826 commented on #80
You are correct. You can be more specific. Our tests actually has some other examples [here](https://github.com/datastax/terraform-provider-astra/blob/main/internal/provider/resource_role_test.go#L43-L51). Again, I'll update the docs to demonstrate this.

[2022-02-08 21:16] emerkle826 commented on #79
That is my plan. :+1:

[2022-02-08 21:21] tringuyen-yw commented on #79
My I assume the Terraform documentation update would involve all the resources related to [DataStax Astra Provider](https://registry.terraform.io/providers/datastax/astra/latest/docs)

Because resources other than `astra_database` or `astra_role` mentioned in issues #79 and #80 also suffer from the incomplete documentation.

[2022-02-08 22:19] emerkle826 commented on #79
Yes, I'll probably try to combine both of your issues into a single PR that revisits all the docs. I suspect most of the changes will simply add references to the existing Astra documentation, but not all. Some of this provider's variables aren't the exact same as what Astra documents, so for those, the docs will be more clear about what is allowed/expected/etc.

It will take me a bit of time to g

[2022-03-02 14:21] kenphused commented on #77
Got feedback from a DS customer who found that the problem was due to insufficient permissions on the token he was using.  He suggests better error handing / logging wrt token permissions.

[2022-03-11 16:46] #79 closed

[2022-03-11 16:46] #80 closed

[2022-03-11 18:53] #48 closed

[2022-04-01 14:33] emerkle826 opened #89 "Add support for CDC and Streaming"
Add the ability to configure CDC and Streaming for AstraDB.

Implementation of this feature is dependent upon the capability being present in the DevOps API. If not currently exposed through the API, it will have to be added there first, and then added to the [Go Client](https://github.com/datastax/astra-client-go).

[2022-04-05 20:15] phact opened #90 "TERRA-55 ⁃ Create DB test failing on region Set(k, v)"
/usr/local/go/bin/go test -c -o /tmp/___1TestDatabase_in_github_com_datastax_terraform_provider_astra_v2_internal_provider.test -gcflags all=-N -l github.com/datastax/terraform-provider-astra/v2/internal/provider #gosetup
/usr/local/go/bin/go tool test2json -t /home/tato/.local/share/JetBrains/IntelliJIdea2021.1/go/lib/dlv/linux/dlv --listen=0.0.0.0:40559 --headless=true --api-version=2 --check-go

[2022-04-05 20:17] phact commented on #90
https://github.com/datastax/terraform-provider-astra/blob/main/internal/provider/resource_database.go#L487

[2022-04-19 20:24] jdavies opened #95 "TERRA-56 ⁃ Crash when creating an Astra DB (only) with v2.1.0-beta"
Hi there,

I'm running Terraform 1.1.18 with the 2.1.0-beta version of the Astra plugin. When I create my database (using scripts that are largely the same as they were when using the non-beta version of the plugin) I get a crash error.

You can find all of my scripts on GitHub here: https://github.com/jdavies/cdc_demo

Interestingly, when I check the Astra dashboard, the DB is created and becomes

[2022-04-21 14:19] AlexKaiserTK opened #96 "TERRA-57 ⁃ Astra api errors are not properly deserialized by the the astra provider"
Hi there,

Please provide the following details with your issue report.

### Terraform Version
v1.1.3

### Affected Resource(s)
* all

### Debug Output
The original astra api error message is not even printed in the TRACE log:

[code]

### Expected Behavior
Error message from astra api should have been printed in the terraform error log and to the terraform console

### Actual Behavior
If an error

[2022-04-22 17:23] jdavies commented on #95
FYI - this is still happening. I see the DB created in the Astra web UI. However, when iI run the `terraform output` command, the only variable value that I see being set is the organization ID. My script also should show the DB ID and many other generated artifacts from the `apply`.  I am happy to share my scripts if that helps.

[2022-04-28 23:03] #90 closed

[2022-04-28 23:03] #95 closed

[2022-05-03 15:15] sflandergan opened #98 "astra_private_link_endpoint fails to load state written after apply"
Hi,

I've added an azure private link to an Astra DB instance.
While this works in the first run the module will run into an error with every further `plan` or `apply` when loading the terraform state:

### Terraform Version
1.1.8

### Affected Resource(s)

- astra_private_link_endpoint

### Terraform Configuration Files

[code]

### Expected Behavior

The module should properly load the terraform

[2022-05-03 15:20] sflandergan opened #99 "TERRA-59 ⁃ astra_database module should expose the datacenter"
Hi,

when provisioning an Astra DB instance the `astra_database` module won't give access to the datacenter.
The datacenter id is needed for `astra_private_link` and `astra_private_link_endpoint` though.
The examples in the `astra_private_link` documentation are wrong since they miss the suffix of the datacenter - for me `-1`.

### Terraform Version

[code]

### Affected Resource(s)
Please list th

[2022-05-05 06:37] sflandergan opened #101 "astra_role module crashes when listing existing roles"
Hi,

I've tried to manage a role with the `astra_role` module.
While it managed to create the role it crashes directly afterwards when listing the roles.

### Terraform Version
[code]

### Affected Resource(s)

- astra_role

### Terraform Configuration Files

[code]

### Panic Output

[Panic Output](https://gist.github.com/sflandergan/16f23ce66e8a3d568828fa60dad43143)

### Expected Behavior

`terr

[2022-05-09 21:33] emerkle826 commented on #101
@sflandergan I tried to reproduce this one, but I'm not able to. Can you verify that the Astra token you are using when you perform this has permissions to read user roles? It would be a little odd to have the ability to create a role, but not be able to read it.

[2022-05-09 21:40] emerkle826 commented on #99
This is not a trivial request as a Database can have multiple datacenters (when deployed to multiple regions). Currently, the provider supports multi-region, but datacenter ID is not associated with the region in the module. I'll try to come up with something that is doable soon.

[2022-05-10 11:41] sflandergan commented on #101
Hi @emerkle826 ,

Yes I can.
When I query the DevOps API with the token.
It works perfectly fine.

You can check the response I get within [this gist](https://gist.github.com/sflandergan/cc4e8c62f6640cb2da2badadfa7213fb).
I just omitted all the IDs from the response.

It might be necessary though that you need to create a token referring to the role:

[code]

Seems otherwise the routine `github.co

[2022-05-10 13:31] emerkle826 commented on #101
@sflandergan Thanks for the gist with your token permissions. Using the terraform file you provided, and creating a role that matches the permissions of your `terraform` role, I am able to reproduce this by first doing a `terraform apply` to create the database and role, then doing a `terraform plan` gives me the same panic. I should be able to fix this soon.

[2022-05-10 15:18] emerkle826 commented on #101
A little more of an update. While I am able to use the `terraform` role to list all roles in an org via the DevOps API, I am not able to use it to list a specific role, which is what the provider is doing. If you try to list out a specific role via the DevOps API, you get something like this
[code]

However, when I use an Admin token with the provider, I am able to list the role via terraform. I a

[2022-05-10 19:09] sflandergan commented on #101
@emerkle826 thanks for the update.
Using the `Organization Administrator` role does work for me too.
This is a good workaround for me until the API is fixed.

As you said this looks like a bug in the DevOps API since there seems to be an explicite check for the admin role.
Even if I give my custom role all authorities available in the UI the DevOps API still denies reading the role

[2022-05-10 19:17] emerkle826 commented on #101
@sflandergan Glad the workaround will work for you. Also, I have a fix to prevent the panic and dump the Astra error instead in the PR #105 (which addresses #99)

[2022-05-10 20:30] emerkle826 commented on #77
Closing this as it was resolved in v2.0.3

[2022-05-10 20:30] #77 closed

[2022-05-10 20:33] emerkle826 commented on #36
Please reopen this issue if there is still a need

[2022-05-10 20:33] #36 closed

[2022-05-10 20:36] emerkle826 commented on #96
@AlexKaiserTK Could you please let me know which version of the provider you were using? Also, are you using an Admin with the provider? Currently, role operation through the provider require the token being used to have Admin permissions (see #101 for a bit more discussion)

[2022-05-12 14:50] #96 closed

[2022-05-13 07:09] sflandergan commented on #98
@emerkle826 thanks for providing the fix!
I can confirm that it works for me with `v2.1.0-beta3`

[2022-05-13 08:41] AlexKaiserTK commented on #96
We are using 2.0.2 indeed, will check 2.0.3

[2022-05-20 00:03] melienherrera opened #116 "TERRA-61 ⁃ Terraform keeps trying to create streaming tenant when no table is found"
### Terraform Version
Terraform v1.1.9

### Affected Resource(s)
-astra_streaming_sink
-astra_cdc
-astra_streaming_tenant

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output
Going to paste it because its just a endless cycle of trying to create astra_cdc

[code]

### Expec

[2022-06-01 20:43] melienherrera opened #123 "TERRA-62 ⁃ Fix docs on Terraform"
On Terraform docs, resources` astra_streaming_stink` and `astra_streaming_tenant `have the same description as `astra_cdc`

See below for reference:
![docs1](https://user-images.githubusercontent.com/85907755/171498000-030ea7f2-5148-4c14-8c78-811b5a206d33.png)
![docs2](https://user-images.githubusercontent.com/85907755/171498010-78dcee7c-9859-4dd2-b527-8f3e356c8ae6.png)

┆Issue is synchronized wit

[2022-06-17 16:20] emerkle826 opened #130 "TERRA-63 ⁃ Add VPC Peering capabilities"
## Feature Request
Add in appropriate VPC peering capabilities that were added to the [Astra client](https://github.com/datastax/astra-client-go) as of version 2.2.38

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/TERRA-63) by [Unito](https://www.unito.io)
┆friendlyId: TERRA-63
┆priority: Major

[2022-06-17 16:58] emerkle826 commented on #130
Closing this as VPC peering only applies to Astra Classic. The provider only supports Astra Serverless.

[2022-06-17 16:58] #130 closed

[2022-06-17 17:09] emerkle826 commented on #123
This was fixed in version 2.1.0-rc4

[2022-06-17 17:09] #123 closed

[2022-06-17 17:20] emerkle826 commented on #116
@melienherrera Sorry it has taken me so log to get to this. Could you please try again with version 2.1.0-rc5? There have been a lot of changes since rc1 and the issue you reported may have been fixed along the way. I've tried myself with the resource file you provided and it is working for me with v2.1.0-rc5

[2022-06-17 19:28] #50 closed

[2022-06-17 20:52] emerkle826 commented on #99
@sflandergan I have a solution, but I don't know how easy it will be to use. It creates a `datacenetrs` list on the database object, because you could have multiple datacenters. The TF state would look like this:
[code]
However, when trying to reference the datacenter ID in a private link or private link endpoint resource, you'd have to reference it like this:
[code]
This is because my implementat

[2022-06-17 21:56] emerkle826 commented on #99
I have another implementation that maybe works better. With it, you could reference the datacenter id like this:
[code]
where you would only have to make sure you use the right regions index.

The state file would look like this instead:
[code]

[2022-06-20 06:45] sflandergan commented on #99
Hi @emerkle826 ,

the last proposed solution looks very promising :+1:
I think that way people with a very simple setup can easily refer to the datacenter the way you mentionend.
More complex, multi region setups should be covered too.

[2022-06-20 15:46] muresan opened #133 "TERRA-64 ⁃ Expose service_name attribute from astra_private_link independent of an astra_database"
## Feature request
We have a setup on GCP where there is a `networking` project which hosts the VPC and a `compute` project which hosts the compute resources and where "virtually" the DataStax resources will be created (basically a pipeline that creates resources in the `compute` project will also create datastax resources).. Specifically for GCP Private Service Connect there is a dependency that

[2022-06-21 14:58] #99 closed

[2022-06-21 16:37] emerkle826 commented on #133
@muresan Thanks for the request.

It is currently not possible to create a Private Link in Astra without first creating an Astra DB. The `service_name` for a private link is also not known until the private link resource is created within Astra, so there is no way to export or predict it prior to creating the resource.

This is backwards in the way it works in Astra. A private link resource in Ast

[2022-06-21 18:43] muresan commented on #133
Thank you for the reply.

Yes the need is to split networking related resources from services related resource in the case of a company with multiple teams with separate roles.
Ideally the PSC would have a longer lifecycle than a database and can be reused for multiple databases (like for example is the case with Elastic Cloud GCP PSC: https://www.elastic.co/guide/en/cloud/current/ec-traffic-filte

[2022-06-21 18:57] muresan opened #134 "TERRA-65 ⁃ astra_token does not mark secret and token as sensitive"
Hi there,

Please provide the following details with your issue report.

### Terraform Version
1.2.3

### Affected Resource(s)
* astra_token

### Expected Behavior
token, secret to be marked as sensitive by Terraform and not be exposed with `terraform show astra_token.name`

### Actual Behavior
token, secret are displayed:

[code]

### Steps to Reproduce
1. create astra_token resource
1. terraform

[2022-06-21 20:15] emerkle826 commented on #133
Unfortunately, the way Astra works right now is that the GCP PSC target is the service name, which is dependent upon the resources Astra creates as part of provisioning a Private Link. There would have to be a change in how Astra works for this to be possible. If that happens, we should be able to accommodate it within the provider.

Thanks again for the feature request. Closing this issue for now

[2022-06-21 20:15] #133 closed, assigned to nobody

[2022-06-21 20:16] #134 closed

[2022-06-22 11:55] muresan opened #137 "astra_databases data source fails for 2.1.0-rc8/rc7"
astra_databases data source fails for 2.1.0-rc8/rc7, worked with rc6

### Terraform Version
1.2.3

### Affected Resource(s)
- data.astra_databases

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
data.astra_databases to be populated, like in 2.1.0-rc6:

[code]

### Actual Behavior
data source fails

### Steps to Reproduce
0. create main.tf
1. `terraform ini

[2022-06-30 00:03] bigjew92 commented on #50
@emerkle826 I am still seeing this in v2.1.0-rc9. The policy no longer is forcing a replacement, like it was previously showing in this issue. However, the name is forcing a replacement. I have not changed the name in between the initial creation and now.

[code]

[2022-06-30 17:50] muresan opened #143 "TERRA-67 ⁃ Feature: add support for enumerating roles via a data source astra_roles"
Ideally this should be a part of `astra_role` to allow lookups using names (which does not seem to be supported by the API) but a new data source that maps to the API also helps.

### Expected Behavior
Add support for `astra_roles`

### References
There is support in the DevOps API for this https://docs.datastax.com/en/astra/docs/_attachments/devopsv2.html#tag/Roles/operation/getOrganizationRoles

[2022-06-30 18:12] muresan opened #144 "Add support for database lookup via database name"
### Affected Data source
- data.astra_database

### Expected Behavior
Allow lookup of database by name. I am currently looking up databases via data.astra_databases but this has the problem that it does not fail if at least one database is present in the organization and leads to code like:

[code]
which has the issue that:
- when database does not exist, database_id_tmp is empty so all places whe

[2022-06-30 18:30] emerkle826 commented on #144
That is currently the case. You can create any number of databases with the exact same name as they are given a unique UUID at creation. This UUID is the only way to identify them in the DevOps API, so the provider can't really guarantee the names will be unique.

In your example, you have `var.database_name` defined somewhere. Would it not be possible to just use the database UUID? If you are cre

[2022-06-30 18:32] emerkle826 commented on #143
@muresan We should be able to implement this similar to how we have `astra_databases` implemented. Would something like that work for you?

[2022-07-01 07:51] muresan commented on #144
The use case you are describing works fine when there is a single root Terraform module that controls everything but it gets complicated when there are several in a company that has separate teams for cloud, networking, backing services/applications. Each team manages their own bit of infrastructure (which gets deployed in separate CI/CD pipelines):
- networking team manages the PSC, astra_link, a

[2022-07-01 08:01] muresan commented on #143
Yes, like I mentioned in the References, mapping the API call is enough.

[2022-07-01 08:02] muresan opened #145 "TERRA-69 ⁃ Add support for enumerating users in an organization"
Please add support to enumerate current users in an organization using something like `astra_users`, which would also have the side effect of alloing the detection of the organization ID without having to rely on an existing database resource. Similar info (organization_id could be obtained from `astra_roles` (https://github.com/datastax/terraform-provider-astra/issues/143) but there is no guarant

[2022-07-01 20:07] #143 closed

[2022-07-01 22:48] bigjew92 opened #147 "TERRA-70 ⁃ access_list reosource docs asking for keyspace for importing"
Hi there,

Please provide the following details with your issue report.

### Affected Resource(s)
Please list the resources as a list, for example:

* astra_access_list

### Expected Behavior
I do not believe that access_list needs a keyspace and if it does, I'm not sure which one it would be.

### Actual Behavior
The import syntax might be wrong or is just unclear.

### Steps to Reproduce
Please

[2022-07-05 16:30] emerkle826 commented on #147
@bigjew92 Thanks for reporting this. As it turns out the docs for `access_list` import are incorrect, and the functionality is broken. The docs should state:
[code]

I'll use this ticket to fix the docs and fix the functionality.

[2022-07-05 17:11] #145 closed

[2022-07-05 22:01] #147 closed

[2022-07-05 22:05] emerkle826 commented on #116
Closing this issue for now. If the problem shows up again, please create a new issue.

[2022-07-05 22:05] #116 closed

[2022-07-05 22:07] emerkle826 commented on #89
As of v2.1.0 of the plugin, streaming and CDC are enabled. Currently, the Astra client used has both clients (the existing DevOps API client and the streaming client). At some point, they may be merged into a single client. But CDC and streaming are working as of v.2.1.0

[2022-07-05 22:07] #89 closed

[2022-07-06 21:33] emerkle826 commented on #147
@bigjew92 Also, this was fixed in v2.1.1. Import was broken prior to this version.

[2022-07-06 21:35] bigjew92 commented on #147
Gotcha. Thank you for the fix. confirmed I was able to import my access_list to the desired database.

[2022-07-07 18:11] bigjew92 opened #151 "TERRA-71 ⁃ private_link reference for datacenter_id isn't working with aws"
I have another implementation that maybe works better. With it, you could reference the datacenter id like this:

[code]

where you would only have to make sure you use the right regions index.

The state file would look like this instead:

[code]

_Originally posted by emerkle826 in https://github.com/datastax/terraform-provider-astra/issues/99#issuecomment-1159255706_

I tried to implement this

[2022-07-07 19:09] emerkle826 commented on #151
This should be fixed in v2.1.2 shortly. The safest fix was to just leave the cloud_provider and region casing alone, as changing the case for either/both to all UPPER or all lower could cause referencing issues in other places. Also, there's no guarantees that the regions will always be all lower, and that cloud providers will always be all upper. So whatever the DevOps API returns is what will be

[2022-07-07 21:15] emerkle826 commented on #151
@bigjew92 I'll take a look.

[2022-07-07 21:27] bigjew92 opened #152 "TERRA-72 ⁃ Importing existing role with no changes is showing it needs to be replaced to to a different name"
Hi there,

Please provide the following details with your issue report.

### Affected Resource(s)
Please list the resources as a list, for example:

* astra_role

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Output From Postman
[code]

### Expected Behavior
After getting the stru

[2022-07-07 21:52] emerkle826 commented on #151
@bigjew92 Import should work. Can you post the results of `terraform show` and redact your actual DB IDs? In particular, I'm curious as to what your datacenters look like in your TF state. Example:
[code]

Also, when you updated to v2.1.2, did you do the following:
```terraform init --upgrade```
and then
```terraform apply --refresh-only```

You may need to do the refresh to update the state so th

[2022-07-07 22:25] bigjew92 commented on #151
@emerkle826 Apologies, needed the refresh, that seemed to work. Thank you.

For the import, is the syntax the following:

[code]
The docs for import seem to suggest instead of DC-ID, it's the DB-ID again, but that didn't make much sense, so I am assuming it's the above.

After importing and running another plan, it's showing a force of replacement. I also don't see the allowed_principles in the st

[2022-07-08 15:28] emerkle826 commented on #151
@bigjew92 I see the problem. The `allowed_principal` isn't getting written to state when the resource is imported. I'll get this fixed today.

[2022-07-08 17:39] emerkle826 commented on #152
@bigjew92 I'm not able to reproduce this. I have some existing roles in my organization and I was able to do a `terraform import` as you describe and the resource is successfully imported. A follow-up with `terraform plan` doesn't show any changes that need to be made.

I'm assuming you are using the latest v2.1.2 of the provider. If not, can you let me know which version?
Also, can you let me kno

[2022-07-08 17:58] #151 closed

[2022-07-08 18:02] emerkle826 commented on #151
This one should be resolved with v2.1.3 that will be released in a few minutes.

[2022-07-08 18:59] bigjew92 commented on #152
@emerkle826 Thanks for checking. I'm not sure why this was happening multiple times, but trying this morning with v2.1.2, it works with no changes to my code or token I am using. I believe my token is for `Admin User`. In any case, I was able to import and run another plan and see no changes. Will close this as it does not seem to be an issue anymore. Thank you again!

[2022-07-08 18:59] #152 closed

[2022-07-08 19:03] emerkle826 commented on #152
Thanks for replying back. This might have been an issue prior to v2.1.1 as I fixed a few things around roles in that version.

[2022-07-08 19:07] bigjew92 commented on #152
I believe last I checked was possibly v2.1.0-rc9, so definitely possible!

[2022-07-08 22:09] bigjew92 commented on #151
Looking much better. Thank you for such fast support @emerkle826!

[2022-07-08 22:33] bigjew92 commented on #151
@emerkle826 can open up another issue, but more so just looking for clarification on importing a private_link_endpoint. Docs aren't super clear as to what it's looking for. https://registry.terraform.io/providers/datastax/astra/latest/docs/resources/private_link_endpoint#import

Seems like it's asking for the database ID only?

[2022-07-11 15:44] emerkle826 opened #155 "TERRA-73 ⁃ Import of private_link_endpoint is broken"
Hi there,

Please provide the following details with your issue report.

### Terraform Version
[code]

### Affected Resource(s)
Importing astra_private_link_endpoint

* astra_private_link_endpoint

### Terraform Configuration Files
Using the example from the documents: https://github.com/datastax/terraform-provider-astra/blob/main/examples/resources/astra_private_link_endpoint/resource.tf

### Exp

[2022-07-11 15:47] emerkle826 commented on #151
Opened https://github.com/datastax/terraform-provider-astra/issues/155 to address the private link endpoint issue.

[2022-07-11 19:30] #155 closed

[2022-07-11 19:34] emerkle826 commented on #155
@bigjew92 When 2.1.4 is released, `private_link_endpoint`s should be importable and the docs should be updated to give better examples for each: cloud provider.

[2022-07-11 20:07] bigjew92 commented on #155
Wonderful! Imported successfully. The docs are very clear now for that resource! Thank you again for all your help!

[2022-08-23 00:36] bigjew92 opened #160 "Dynamic blocks not working with astra_table resource?"
Hi there,

Please provide the following details with your issue report.

### Terraform Version
Terraform `v1.1.9`
Provider `v2.1.4`

### Affected Resource(s)
Please list the resources as a list, for example:
- astra_table

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output

[2022-08-23 08:03] emerkle826 commented on #160
@bigjew92 Thanks for reporting the issue. I'll take a look today and get back to you.

[2022-08-24 08:51] emerkle826 commented on #160
@bigjew92 Sorry for the delay, I've been distracted on some other items. I'll try to get to this in the next day or two.

[2022-08-25 00:05] emerkle826 commented on #160
@bigjew92 I don't think you can use an dynamic block in this situation. `column_definitions` in the `table` resource is defined as a list, not an object/block type. That's why you get ```Blocks of type "column_definitions" are not expected here```.

[2022-08-25 00:12] bigjew92 commented on #160
Gotcha. Thanks @emerkle826. My goal was to be able to pass these to a module, since there can be N number of `column_definitions`, I was hoping to use dynamic blocks to have them defined (as above) and be able to pass N number of blocks of definitions as I want, if that makes sense.

Doesn't sound like that's possible with the way it is currently implemented, but would definitely be desired.

[2022-08-25 13:54] emerkle826 commented on #160
@bigjew92
You might be able to try something like this:
[code]
But I have not tried it. Each column definition is a map of string values, which might work like above, but again I haven't tested it. I'm traveling at the moment, so I can try it when I get where I'm going if you haven't by then

[2022-08-25 13:55] emerkle826 commented on #160
If it doesn't work, I'll try to see if I can come up with something that is allowed and gets you closer to what you need.

[2022-08-25 16:42] bigjew92 commented on #160
Thanks for the suggestion @emerkle826. We tried that and it wasn't working. The dynamic block constructs repeatable blocks within a resource. So this would make multiple `column_defs` inside of `column_definitions`, which the resource is not expecting.

Would appreciate any ideas on how to get to the goal. Will keep trying things and let you know if we come up with something as well.

[2022-08-26 17:43] emerkle826 opened #161 "TERRA-75 ⁃ Provide example for creating a keyspace workflow"
### Feature Request
Create an examples folder in the project and provide some common workflow examples

Include an example for the following workflow:
* create a database
* create a keyspace
* create a role with permissions in the keyspace
* create a token associated to the role

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/TERRA-75) by [Unito](https://www

[2022-08-28 12:53] #161 closed

[2022-08-29 16:52] milalima commented on #160
Hi @emerkle826, I tried another way:

`resource "astra_table" "table" {
  table              = var.table
  keyspace           = var.keyspace
  database_id        = var.database_id
  region             = var.region
  clustering_columns = var.clustering_columns
  partition_keys     = var.partition_keys

  for_each = var.column_definitions
  column_definitions = [
    {
        Name           = each.

[2022-09-07 10:11] giannoul opened #163 "TERRA-76 ⁃ Question - Multi-region database creation times out within 20 minutes"
Hi there,

Please provide the following details with your issue report.

### Terraform Version
[code]

### Affected Resource(s)
* astra_database

### Terraform Configuration Files
[code]

### Debug Output
None

### Panic Output
None

### Expected Behavior
Create multi-region database

### Actual Behavior
Timeout in 20 minutes

### Steps to Reproduce
`terraform apply`

### Important Factoids
None

[2022-09-07 16:03] emerkle826 opened #164 "TERRA-77 ⁃ Table creation sporadically fails"
### Affected Resource(s)
Please list the resources as a list, for example:

* astra_table

### Terraform Configuration Files
[code]

### Expected Behavior
Provider should ensure the keyspace exists before attempting to create a table.

### Actual Behavior
Sporadically, table creation will fail with `keyspace does not exist`

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassi

[2022-09-07 18:42] atrilok opened #165 "TERRA-78 ⁃ Custom role assignment issue on Terraform"
Hi there,

Please provide the following details with your issue report.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.
Terraform v1.2.8

### Affected Resource(s)
Please list the resources as a list, for example:

* astra_role

### Expected Behavior
After a custom r

[2022-09-07 20:12] emerkle826 commented on #163
@giannoul The default timeout is 20 minutes, but you can override that in your Terraform resource definition. For example, you can add the `timeouts` block to the database definition and increase the create timeout to 45 minutes like this:
[code]
There is a little bit more on the Terraform documentation page here:
https://www.terraform.io/plugin/sdkv2/resources/retries-and-customizable-timeouts#re

[2022-09-07 20:12] #163 closed

[2022-09-08 15:55] #165 closed

[2022-09-08 17:13] emerkle826 commented on #160
@milalima Sorry I haven't replied in a while. I'm taking a look now

[2022-09-09 19:38] emerkle826 commented on #160
@bigjew92 @milalima Apologies for the delay. I might have a solution, though it really only moves the column definitions around. But here goes.

In a local module called "testing", you could define a `variables.tf` like this
[code]
Along side that file, declare an `outputs.tf` like this:
[code]
Now, in the main module, you can pull in the "testing" module and reference the `column_defs` output lik

[2022-09-09 19:43] emerkle826 commented on #160
@milalima To address you question, I'm not sure what is going on from the snippet you provided. However, if something like below would work:
[code]
It would create a table for each _column_definition_ in `column_definitions`, but all would have the same table name, which is likely not what you are going for.

[2022-09-09 19:44] emerkle826 commented on #164
Closing this as it seems adding
[code]
might solve the issue

[2022-09-09 19:44] #164 closed

[2022-09-09 20:00] emerkle826 commented on #144
@muresan Apologies for letting this fall off my radar.

I understand separating responsibilities, but not sharing the piece of information that uniquely identifies a DB is wrong in my opinion.

As you mention, there are things that can be done to try to figure out the ID from the name, but there are no guarantees you will get the correct ID if there are duplicates. Tags/namespaces would also just

[2022-09-09 20:51] bigjew92 commented on #160
Thanks @emerkle826. I will take a look at the first option of defining it as a variable within the module like you've done. It might just be easier to keep it as a flat resource for now/going forward. The goal was to hopefully make it easier for developers that we support to be able to call the module, slightly easier than just creating resources. For now, I think we are okay. If in the future the

[2022-09-13 11:57] alkeshdatastax commented on #164
Thanks Erik, you are correct. Adding **depends_on** helps to add an explicit dependency to ensure table creation doesn't run until keyspace already exists.  This helps to resolve the issue.

[2022-09-20 10:36] muresan commented on #144
That is my point, I want to share information that uniquely identifies a DB: a name + tags, not a UUID. To make an analogy, in AWS you would not share instance IDs, VPC IDs, you would share the tags on them which uniquely identify that resource.

Most clouds that manage their own IDs have implemented solutions for this, either by enforcing a unique name for the resource or by allowing the resource

[2022-09-23 09:36] giannoul opened #170 "Database region order leads to configuration drift"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- astra_database

### Terraform Configuration Files
[code]

which is fed with variable values:
[code]

### Debug Output
None

### Panic Output
None

### Expected Behavior
After `terraform apply` we should **not** be asked for the following change in subsequent applies:
[code]

### Actual Behavi

[2022-09-27 16:40] emerkle826 commented on #170
@giannoul What version of the provider are you using? I just tried this with v2.1.4 (should also work with 2.1.5) and while it is a pain to have to re-order the regions list in your terrafrom config file, it does seem to work. I followed your steps and di not have an issue with `terraform apply` as long as I reversed the order of the regions (`us-west4` ahead of `us-east4`)

[2022-09-28 17:41] giannoul commented on #170
@emerkle826 I have created another database to provide more concrete data on the above

variable values:

[code]

* After the `terrafrom apply` (all looking good):
[code]

* After removing the region `us-east4` in the UI setting `regions  = ["us-central1", "us-west4"]` and issuing `terraform apply` (all looking good):
[code]

* After re-adding the region `us-east4` via the UI and setting `regions

[2022-09-28 18:12] giannoul opened #171 "TERRA-80 ⁃ data "astra_access_list" returns error when AstraDB does not have access list entries"
### Terraform Version
Terraform v1.1.8

### Affected Resource(s)
Please list the resources as a list, for example:

* data.astra_access_list

### Terraform Configuration Files
[code]

### Expected Behavior
It should return the list of the allowed rules, in this case null, empty array etc

### Actual Behavior
[code]

### Steps to Reproduce
Please list the steps required to reproduce the issue, for

[2022-09-28 19:18] emerkle826 commented on #171
@giannoul This should be fixed with [d0303d3](https://github.com/datastax/terraform-provider-astra/commit/d0303d3e40475df1dfe2d1b7253c4cbc15dca697), which is being released as v2.1.6 shortly.

[2022-10-05 11:59] giannoul commented on #171
Just used the v2.1.6 and the above has been fixed. Thank you @emerkle826

[2022-10-05 11:59] #171 closed

[2022-10-26 02:20] maestre3d commented on #101
Seems that the issue is still appearing after a time of using this module. The issue happened after a couple of months using the module. Finallt, it is worth to mention that I did not have any issues until now and I did not even modify nothing related to the module for a while.

Besides the role not having enough permissions, I've also got a null database fetch response but I guess this is related

[2022-10-26 17:54] alex4423 opened #174 "TERRA-81 ⁃ json: cannot unmarshal string into Go value of type astra.Errors"
Hi there,

I have the following error message for 2 days (was working fine before)
**json: cannot unmarshal string into Go value of type astra.Errors**

Version:
Terraform v1.3.3
datastax/astra v2.1.6 (i tried older versions)

I removed every resources, just kept the provider and still have the issue:
[code]

It is a blocker to manage multiple DB's

┆Issue is synchronized with this [Jira Task](htt

[2022-10-26 19:13] emerkle826 commented on #174
@alex4423 Thanks for filing an issue. However, I may need a little more info. The example terraform file you provided doesn't really do anything, and if I try to reproduce the issue with just that, I am unable to. Using the provided config, the plugin would simply be downloaded and terraform would initialize its state, and that works with just about any version of the provider.

Do you have more d

[2022-10-26 19:23] alex4423 commented on #174
sure, here my full Astra config (there are son GCP parts for private links as well but following the message error, I will avoid it)

[code]

**NOTE:**
I just tried to build DB's on a brand new Organization and I didn't have the error. So apparently, it is just on existing Organizations (where I built multiples DB's in the past with this terraform config...I have the error on 15 Org.).

[2022-10-26 19:40] emerkle826 commented on #174
@alex4423 Thanks again.

Few more questions.
1) Are you using the same Astra Token for the new org as well as the orgs where things are broken?
2) For an organization where things are broken, are you completely unable to create a new DB?
3) For an organization where things are broken, can you destroy any resources (i.e. deete a Database or access list, etc.)?

[2022-10-26 19:44] alex4423 commented on #174
I have an Admin User Token per Organization (15 in total)
Terraform is not able to read anything in Organizations, I have the message as soon as it is trying to reach Astra (so can't read, build or destroy).
I removed all my modules and just kept the Astra Provider config (like the original message I sent you) and still have the error.

[2022-10-26 19:58] emerkle826 commented on #174
Can you try to generate a new Admin token for one of the orgs that is broken and use that to see if it fixes things with Terraform?

[2022-10-26 20:10] alex4423 commented on #174
I already tried and have the same issue
and just tried another one just in case...same problem

I run a "plan" and grep astra
Terraform seems able to refresh states on Astra modules I am using.
So the error message is coming just after refreshing state

[2022-10-26 20:34] emerkle826 commented on #174
Can you capture the DEBUG logs for a command that fails?

[code]
should produce enough. I just need to see the calls it's making when it gets an error. Then I can figure out what to fix so the error isn't generic, and then we can figure out what's really wrong and how to fix it.

[2022-10-26 20:37] alex4423 commented on #174
sure
I run `TF_LOG=DEBUG terraform plan -refresh-only`

Here logs:
[code]

[2022-10-26 20:55] emerkle826 commented on #174
This is very strange. So locally, I tried the same and I see this:
[code]
then a little later in the logs:
[code]

Are there any `GET` or `POST` logs when you run the plan? Something like this:
[code]
The astra.Errors thing only comes into play when the provider tries to make a REST call to the Astra DevOps API. I'm not seeing any endpoints called, so I don't know which one is failing. I assume it

[2022-10-26 21:32] alex4423 commented on #174
that will be hard to say. I am managing almost everything with Terraform so I have a lot of modules running...the DEBUG output is huge.
do you know if we can run a "plan" only a on specific provider ?

[2022-10-26 22:16] emerkle826 commented on #174
Can you run a plan with just `TF_LOG_PROVIDER=DEBUG`, or is that still going to be a huge log?

[2022-10-26 23:03] alex4423 commented on #174
still huge but I run with `TF_LOG_PROVIDER=ERROR`
hope that can help

[code]

[2022-10-26 23:21] alex4423 commented on #174
I finally found how to push that to a log file, here output with more details

with GET:

[code]

[2022-10-26 23:27] alex4423 commented on #174
Good news
the problem is coming from the module `astra_access_list`
I deleted the state `terraform state rm module.astra.astra_access_list.db` and I didn't have the issue after a "plan"

[2022-10-27 13:39] emerkle826 commented on #174
@alex4423 Thanks for the updates.

I can look into the `astra_access_list` resource operations to fix the Error message. I am curious if you are able to re-import your access list into the state?

[2022-10-27 13:50] alex4423 commented on #174
I put back the module
here the error message I received
`│ Error: error adding access list to database: (403) "user hPCrurTuPtEBJkjYdtZClepA is missing admin role for organization bf2ba0d8-c9a0-4332-ac51-d6292daee7f5"`

[2022-10-27 20:18] emerkle826 commented on #174
Thanks again for the update @alex4423 .

That's the kind of information you should see if something goes wrong as you can at least tell what is wrong. But what I'm still not sure of is what caused the `json: cannot unmarshal string into Go value of type astra.Errors`. When you see that, it means that the provider had an problem interacting with the Astra DevOps API, but the response was not JSON f

[2022-10-28 11:46] alex4423 commented on #174
I understand.
Sorry I can't give you more. I don't really have more time to spend on this one...sorry.
I am unblocked so it is less urgent for me.

[2022-10-28 13:56] alex4423 commented on #174
no, not custom. the token is for Admin User

[2022-10-28 15:45] oscar-b opened #175 "TERRA-82 ⁃ Error: error removing private link from database"
Hi there,

Please provide the following details with your issue report.

### Terraform Version
Terraform v1.3.3
on darwin_arm64

* provider registry.terraform.io/datastax/astra v2.1.6
* provider registry.terraform.io/elastic/ec v0.5.0
* provider registry.terraform.io/elastic/elasticstack v0.4.0
* provider registry.terraform.io/hashicorp/google v4.41.0

### Affected Resource(s)
Please list the reso

[2022-10-28 15:55] oscar-b commented on #175
Trying to add back that endpoint (id `19182715690418178`) in the UI gives me the following error, so I'm stuck in a catch 22 here now:

[code]

[2022-10-28 16:21] emerkle826 commented on #175
@oscar-b Thanks for reporting the issue. I'll take a look at this today.

[2022-10-31 18:16] emerkle826 commented on #174
@alex4423 Small update. I can only seem to produce the error you are getting:
[code]
when I use a token that is associated with a role that doesn't have access list write permissions. I created a custom role that simply had these permissions:
[code]
and I am able to add access lists to my Astra DB. When I remove `accesslist-write`, and only have:
[code]
I get the 403 error.

Can you double check t

[2022-10-31 20:15] emerkle826 opened #176 "TERRA-83 ⁃ Fix docs for CDC/Streaming"
Some of the docs show incorrect descriptions, likely from copy-pasting. Example:
https://registry.terraform.io/providers/datastax/astra/latest/docs/resources/cdc

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/TERRA-83) by [Unito](https://www.unito.io)
┆friendlyId: TERRA-83
┆priority: Major

[2022-11-01 18:22] alex4423 commented on #174
hello.
Sorry, I didn't see your message.
only tokens I have and use are for Admin Users from the beginning. Does that mean they are not good anymore ?
I didn't have this original issue for a long time with those Tokens..everything was ok.

[2022-11-01 18:44] emerkle826 opened #177 "TERRA-85 ⁃ Add support for deleting Keyspaces"
The DevOps API recently exposed an endpoint for deleting keyspaces. This should be added to the provider (will need to be added to the Astra go client first https://github.com/datastax/astra-client-go/issues/15)

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/TERRA-85) by [Unito](https://www.unito.io)
┆friendlyId: TERRA-85
┆priority: Major

[2022-11-01 19:42] #177 closed

[2022-11-02 12:21] oscar-b opened #179 "TERRA-86 ⁃ Expose URLs from `astra_streaming_tenant`"
It would be very useful if `astra_streaming_tenant` would expose the URLs needed for connecting to the streaming instance, currently only available under "Tenant Details" in the web UI.

### Affected Resource(s)
Please list the resources as a list, for example:
- astra_streaming_tenant

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/TERRA-86) by [Unito](http

[2022-11-02 12:23] oscar-b opened #180 "TERRA-87 ⁃ Manage tokens for Astra Streaming"
It would be very nice to be able to manage tokens for Astra Streaming so that they can be automatically deployed.

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net/browse/TERRA-87) by [Unito](https://www.unito.io)
┆Issue Number: TERRA-87
┆Priority: Major
┆Link To Issue: https://datastax-oss.atlassian.net/browse/TERRA-87

[2022-11-04 23:46] KseniiaRyuma opened #181 "TERRA-88 ⁃ terraform-provider-astra_v2.1.0-rc9 and v2.1.6 plugins crashed"
Hi there,

Please provide the following details with your issue report.

### Terraform Version
1.3.4

### Affected Resource(s)
terraform-provider-astra_v2.1.0-rc9 plugin crashed and
terraform-provider-astra_v2.1.6 plugin crashed

[error.txt](https://github.com/datastax/terraform-provider-astra/files/9942511/error.txt)

┆Issue is synchronized with this [Jira Task](https://datastax-oss.atlassian.net

[2022-11-08 18:54] emerkle826 commented on #181
@KseniiaRyuma Can you provide a sample of your terrafrom file, or any more info about what you were attempting when you got the error?

[2022-11-08 22:52] emerkle826 commented on #175
@oscar-b Sorry it took me so long to get around to this.

I just tried with v2.1.7 of the provider, and I am not able to reproduce the issue. There shouldn't be anything in v2.1.7 that would have fixed it, as I see you used v2.1.6.

When I try your steps, first with a hard-coded PSC ID, I am able to associate the endpoint as expected. If I then change the definition to be `google_compute_forwardin

[2022-11-08 22:55] emerkle826 commented on #175
I just looked briefly at https://github.com/hashicorp/terraform-provider-google/blob/main/CHANGELOG.md and I don't really see anything that would have fixed things between v4.41.0 and v4.43.0 related to this.

[2022-11-08 22:56] emerkle826 commented on #175
For the record, I switched my config from this initially:
[code]
to this:
[code]

[2022-11-09 06:06] oscar-b commented on #175
Hi @emerkle826

Not sure if your reproduction steps reflect it, but what happened in my case was that the endpoint_id actually changed. It was an incorrect value from the beginning.

Either way, it might just have been an API error that was thrown, the point being that the provider doesn’t recover gracefully from it and ended up in a corrupted state. If I remember correctly, the TF state expected

[2022-11-09 15:28] emerkle826 opened #182 "TERRA-89 ⁃ Support terminating multi-region DBs"
When attempting to terminate an Astra DB, you must terminate all datacenters in a multi-region setup from the extra regions first before you can terminate the DB. The provider implementation currently forces the user to do this manually, and you have to remove the regions/datacenters one at a time. It would be better to have the provider handle that for the user.

┆Issue is synchronized with this

[2022-11-09 16:35] emerkle826 commented on #175
@oscar-b Thanks for the clarification. I'll see if I can trigger the issue somehow and then add better handling to the provider.

[2022-11-11 16:03] emerkle826 commented on #174
Unless the permissions were changed for the role, they should still be good. Can you try creating a new token with the `Organization Admin` role and use that token to see if you still get a 403?

[2022-11-11 18:33] #175 closed

[2022-11-11 18:34] #182 closed

[2022-11-12 17:30] emerkle826 commented on #180
@oscar-b I have a PR up that should add the missing URLs to the resource object. I've also added the Pulsar JWT token that is returned when creating a tenant. Is that sufficient for your needs, or did you need more/something else? For example, if you crate a tenant now, the terraform resource state should look something like this (with `terraform show` after applying):
[code]

While the state will

[2022-11-15 12:50] alex4423 commented on #174
with `Admin User`, I have a 403
`error adding access list to database: (403) "user XXXXX is missing admin role for organization`

with `Organization Admin`, I have a 409
`error adding access list to database: (409) "unable to add address to access list"`

[2022-11-15 16:35] #176 closed

[2022-11-15 16:35] #179 closed

[2022-11-15 16:35] #180 closed

[2022-11-15 18:32] emerkle826 commented on #174
@alex4423 The `Admin User` role does not have the `accesslist-write` permission, so using a token with that role should get a 403 when trying to create/modify/delete access lists. The only 2 baked-in roles that have the `accesslist-write` permission are `Organization Administrator` and `Database Administrator`

The 409 you are getting when you use an Organization Administrator token is likely beca

[2022-11-15 19:45] emerkle826 opened #188 "TERRA-90 ⁃ Handle Token updates for astra_streaming_tenant"
### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

### Affected Resource(s)
Please list the resources as a list, for example:
- astra_streaming_tenant

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

[2022-11-15 20:52] emerkle826 commented on #188
@oscar-b Tagging you here as it's a new ticket and I want to leave the merged PR comments alone.

What I'm seeing is that if I create a tenant with `terraform apply`, it creates it fine and sets the JWT/Pulsar token. If I follow up with a `terraform apply` again, it doesn't ask me to accept changes. However, if I enable logs, I do see this:

[code]
It detects the change in the token, but it seems

[2022-11-15 20:57] oscar-b commented on #188
@emerkle826 Not sure if it's related to the fact that you don't actually use the value anywhere? I do see the behavior in regular `terraform apply`. I save the value in a GCP Secret.

[2022-11-15 20:58] oscar-b commented on #188
[code]

[2022-11-15 21:04] emerkle826 commented on #188
That might be the difference. Thanks for the update.

Out of curiosity, do you know if the older generated tokens are invalidated for your use? Or are they still valid after terraform gets a new token?

[2022-11-15 21:17] oscar-b commented on #188
Haven't been able to test it yet, was planning on doing that tomorrow :)

[2022-11-16 14:06] alex4423 commented on #174
I still have 409 when I removed the Access list and run terraform afterwards

[2022-11-17 19:29] emerkle826 commented on #188
@oscar-b I have a PR up now for this. It will change how you handle the token for a streaming tenant.

For now, there isn't a way to create tokens via the DevOps API, so I've removed the token from the `astra_streaming-tenant` resource and created a separate `astra_streaming-tenant_tokens` datasource (see the example [here](https://github.com/datastax/terraform-provider-astra/pull/189/files#diff-4

[2022-11-17 19:29] #188 closed

[2022-11-28 10:32] oscar-b commented on #188
@emerkle826 Sorry I haven't been able to test this until now.

I got this warning when using the new modules:

[code]

Not sure if `secret_data` in `google_secret_manager_secret_version` is marked sensitive either way, so it doesn't matter?

[2022-11-28 11:11] oscar-b commented on #188
@emerkle826 Using `astra_streaming_tenant_tokens` still forces a replacement on each apply.

[code]

[2022-11-28 11:12] oscar-b commented on #188
Using this TF code:

[code]

[2022-11-28 16:28] emerkle826 opened #190 "TERRA-91 ⁃ Support SecureConnectBundle for multi-region"
### Affected Resource(s)
- astra_secure_connect_bundle_url

### Terraform Configuration Files
[code]

### Expected Behavior
Retrieve the SCB download URL for all regions, not just the primary region

### Actual Behavior
Currently, only the primary DB region SCB is retrievable

### References
PLEN-227 indicates that there is another DevOps API endpoint that contains the SCB download url for all reg

[2022-11-29 18:25] #190 closed

[2022-11-30 18:38] emerkle826 commented on #188
@oscar-b thanks for testing it, I'm going to capture your latest comments into a new ticket.

[2022-11-30 18:41] emerkle826 opened #192 "TERRA-92 ⁃ Streaming Tenant Tokens still causes updates"
This is a follow-up ticket for #188

Copying comments from the previous ticket:
https://github.com/datastax/terraform-provider-astra/issues/188#issuecomment-1328855545

https://github.com/datastax/terraform-provider-astra/issues/188#issuecomment-1328900703

https://github.com/datastax/terraform-provider-astra/issues/188#issuecomment-1328901554

using TF code:
[code]

┆Issue is synchronized with th

[2022-11-30 19:04] smatiolids opened #193 "TERRA-93 ⁃ Astra streaming sink names restricted to built-in names"
Hi there,

Please provide the following details with your issue report.

### Terraform Version

Terraform v1.3.5
+ provider registry.terraform.io/datastax/astra v2.1.9

### Affected Resource(s)

- astra_streaming_sink

### Debug Output

Scenario 1 - Two sinks with different names
Scenario 2 - Two sinks named cassandra-enhanced

https://gist.github.com/smatiolids/d895cb6aedb33d248967a5fd94da7444

#